.feed {
  flex: 0.6;
  border-right: 1px solid var(--twitter-background);
  /* min-width: fit-content; */
  overflow-y: scroll;
  min-width: 350px;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.feed__header > h2 {
  font-size: 20px;
  font-weight: 800;
}

.feed__loader__container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 780px) {
  .feed {
    flex: 0.9;
  }
}
