.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  color: white !important;
  border: none !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}
